<div class="parallax">
    <div class="parallax-layer ten">
      <p>CHEIFDOM</p>
    </div><div class="parallax-layer nine">
      <p>CHEIFDOM</p>
    </div><div class="parallax-layer eight">
      <p>CHEIFDOM</p>
    </div><div class="parallax-layer seven">
      <p>CHEIFDOM</p>
    </div><div class="parallax-layer six">
      <p>CHEIFDOM</p>
    </div><div class="parallax-layer five">
      <p>CHEIFDOM</p>
    </div><div class="parallax-layer four">
      <p>CHEIFDOM</p>
    </div><div class="parallax-layer three">
      <p>CHEIFDOM</p>
    </div><div class="parallax-layer two">
      <p>CHEIFDOM</p>
    </div><div class="parallax-layer one">
      <p>CHEFIDOM</p>
    </div>
  </div>