<div class="parallax">
    <div (click)="navigateToInfo()" class="parallax-layer ten">
      <img src="../../assets/logo.png">
    </div><div (click)="navigateToInfo()" class="parallax-layer nine">
      <img src="../../assets/logo.png">
    </div><div (click)="navigateToInfo()" class="parallax-layer eight">
      <img src="../../assets/logo.png">
    </div><div (click)="navigateToInfo()" class="parallax-layer seven">
      <img src="../../assets/logo.png">
    </div><div (click)="navigateToInfo()" class="parallax-layer six">
      <img src="../../assets/logo.png">
    </div><div (click)="navigateToInfo()" class="parallax-layer five">
      <img src="../../assets/logo.png">
    </div><div (click)="navigateToInfo()" class="parallax-layer four">
      <img src="../../assets/logo.png">
    </div><div (click)="navigateToInfo()" class="parallax-layer three">
      <img src="../../assets/logo.png">
    </div><div (click)="navigateToInfo()" class="parallax-layer two">
      <img src="../../assets/logo.png">
    </div><div (click)="navigateToInfo()" class="parallax-layer one">
      <img src="../../assets/logo.png">
    </div>
  </div>