* {
    font-family: 'arial black', Helvetica, verdana, monospace, sans-serif;
    letter-spacing: 0.2rem;
    margin: 0;
    padding: 0;
    color: rgb(241,206,86);
    overflow: hidden;
  }
  
  .trueBody {
    width: 75%;
    height: 75%;
    top: 12.5%;
    left: 12.5%;
    position: absolute;
    background-color: rgb(56,101,67);
    border: solid 3px white;
  }

  ul {
    clear: both;
    font-size: 10px;
  }

  .menu {
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    float: left;
  }
  
  canvas#canvas {
    display: block;
    background: rgb(56,101,67);
  }
  
  h2 {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    right: 1.6rem;
    height: 100%;
    text-align: center;
    font-size: 1rem;
    padding: 0.8rem;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
  }